.tekst:hover {
  background-color: #aaad28;
}

.tekst:read-write {
  background-color: #b3dbff;
}

:read-write {
  background-color: #b3dbff;
}

:read-write:focus {
  background-color: #57b1f6;
}

body {
  background-color: #f3fff3;
}

input,.tekst {
  border-radius: 6px;
  padding: 0 3px 0 3px;
  margin: 2px;
  border: 2px solid black;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bloki {
  margin: 0 0 30px 0;
}

#lista {
  list-style-type: none;
}

.tekst {
  background-color: #d0d52c;
  min-width: 30px;
  flex-grow: 1;
  overflow-wrap: break-word;
}

.data {
  width: auto;
}

li {
  display: flex;
}

.usuwanie {
  background-color: #f56161;
  width: auto;
}

.usuwanie:hover {
  background-color: #a81b1b;
}

#wpisywanie_daty,.data {
  background-color: #f69933;
}

#wpisywanie_daty:hover,#wpisywanie_daty:focus-within,.data:hover,.data:focus-within {
  background-color: #b8712a;
}

#zapisywanie {
  background-color: #3ae33a;
}

#zapisywanie:hover {
  background-color: #1d9a1d;
}
